<header>

    <div class="cards">
        <span>Total de UD. Consumidoras: </span>
    </div>

    <div class="cards">
        <span>Total de Faturas: </span>
    </div>

    <div class="cards">
        <span>Consumo total: </span>
    </div>

</header>

<section>

    <div class="ultimas-unidades">
        <table>
            <tr>
                <th>#</th>
                <th>UN. CONSUMIDORA</th>
                <th>NÚMERO</th>
            </tr>
            <tr class="un-informacao">
                <td>1</td>
                <td>Unidade 1</td>
                <td>123312123</td>
            </tr>
        </table>
    </div>

    <div class="grafico">
        grafico
    </div>

</section>