<header>

    <div class="cards">
        <span>
            <img src="../../../assets/icons/icons8-casa-50.png" alt="home" width="50px">
            Total de UD. Consumidoras: 
        </span> {{totalDeUnidades}}
    </div>

    <div class="cards">
        <span>
            <img src="../../../assets/icons/icons8-casa-50.png" alt="home" width="50px">
            Total de Faturas: 
        </span>{{totalDeFaturas}}
    </div>

    <div class="cards">
        <span>
            <img src="../../../assets/icons/icons8-casa-50.png" alt="home" width="50px">
            Valor total: 
        </span>{{valorTotal | currency}}
    </div>

    <div class="cards">
        <span>
            <img src="../../../assets/icons/icons8-casa-50.png" alt="home" width="50px">
            Consumo total: 
        </span>{{consumoTotal | currency}}
    </div>

</header>

<section>

    <div class="ultimas-unidades" *ngIf="unidades.length > 0">
        <table>
            <tr>
                <th>#</th>
                <th>UN. CONSUMIDORA</th>
                <th>NÚMERO</th>
            </tr>
            <tr class="un-informacao" 
                *ngFor="let u of unidades; let i = index"
                (click)="informacaoUnidade(u)">

                <td>{{u.id}}</td>
                <td>{{u.nome}}</td>
                <td>{{u.numero}}</td>

            </tr>
        </table>
    </div>

    <div class="sem-unidades" *ngIf="unidades.length == 0">
        {{semUnidades}}
    </div>

    <div class="grafico">
        <canvas #grafico></canvas>
    </div>

</section>