<div class="informacao">

    <div class="title">

        <h3>UNIDADE CONSUMIDORA - N° {{numero}}</h3>

        <button class="btn-cadastrar-fat"
            routerLink="/unidades/{{id}}/informacao/fatura_cadastro">
            Cadastrar FAT
        </button>

    </div>

    <div class="dados-unidade">

        <span>Nome: {{nome | titlecase}}</span>
        <span>Número: {{numero}}</span>
        <span>Distribuidora: {{distribuidora | uppercase}}</span>
        <span>Endereço: {{endereco |titlecase}}</span>

    </div>

    <div class="tab-unidades">
        <h3>Faturas</h3>

        <table>
            <thead>
                <th>#</th>
                <th>Data de vencimento</th>
                <th>Consumo R$</th>
                <th>Valor R$</th>
                <th>Ações</th>
            </thead>

            <tbody>
                <tr *ngFor="let f of faturas; let i = index">

                    <td>{{f.id}}</td>
                    <td>{{f.data_de_vencimento}}</td>
                    <td>{{f.consumo | currency}}</td>
                    <td>{{f.valor | currency}}</td>
                    <td class="acoes">
                        <button class="btn-excluir" (click)="deletarFatura(f)">
                            X
                        </button>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>

</div>
