<div class="consumidoras">

    <div class="title">
        <h3>Unidades consumidoras</h3>

        <button class="btn-cadastrar"
            routerLink="/unidades/cadastro">
            Cadastrar UN
        </button>

    </div>
    
    <div class="tab-unidades">

        <table>
            <thead>
                <th>#</th>
                <th>Un. Consumidora</th>
                <th>Número</th>
                <th>Distribuidora</th>
                <th>Endereço</th>
                <th>Ações</th>
            </thead>

            <tbody>
                <tr 
                    *ngFor="let u of unidades; let i = index" 
                    >

                    <td>{{u.id}}</td>
                    <td>{{u.nome}}</td>
                    <td>{{u.numero}}</td>
                    <td>{{u.distribuidora | uppercase}}</td>
                    <td>{{u.endereco | titlecase}}</td>
                    <td class="acoes">
                        <button class="btn-editar" (click)="informacao(u)">
                            <img src="../../../assets/icons/icons8-visualizar-arquivo-50.png" alt="home" width="30px">
                        </button>
                        <button class="btn-editar" (click)="editarUnidade(u)">
                            <img src="../../../assets/icons/icons8-editar-50.png" alt="home" width="30px">
                        </button>
                        <button class="btn-editar" (click)="excluirUnidade(u)">
                            <img src="../../../assets/icons/icons8-remover-64.png" alt="home" width="30px">
                        </button>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>
</div>
