h3 {
    font-size: 20px;
    line-height: 23px;
}

input {
    display: block;

    width: 657px;
    height: 48px;

    background: #EAE6E6;
    border: 1px solid #A28787;
    box-sizing: border-box;
    border-radius: 3px;

    margin-bottom: 20px;
    padding-left: 23px;
}

.acoes {

    button {
        margin-right: 34px;
        width: 156px;
        height: 47px;
        border-radius: 6px;
        cursor: pointer;

        color: white;
        font-size: 18px;
    }

    .btn-cadastrar {
        background: #C85E5E;
    }

    .btn-cancelar {
        background: #C4C4C4;
    }
}