@media only screen and (min-device-width: 795px) {
    h3 {
        font-size: 20px;
        line-height: 23px;
    }
    
    input {
        display: block;
    
        width: 657px;
        height: 48px;
    
        background: #EAE6E6;
        border: 1px solid #A28787;
        box-sizing: border-box;
        border-radius: 3px;
    
        margin-bottom: 10px;
        padding-left: 23px;
    }

    span {
        color: rgb(248, 19, 19);
        padding-bottom: 20px;
    }
    
    .acoes {
    
        button {
            margin-right: 34px;
            width: 156px;
            height: 47px;
            border-radius: 6px;
            cursor: pointer;
    
            color: white;
            font-size: 18px;
        }
    
        .btn-cadastrar {
            background: #C85E5E;

            &:disabled {
                background-color: rgb(223, 223, 223);
                color: rgb(112, 112, 110);
            }
        }
    
        .btn-cancelar {
            background: #C4C4C4;
        }
    }
}

@media only screen and (max-device-width: 794px) {
    h3 {
        font-size: 18px;
        line-height: 23px;
    }
    
    input {
        display: block;
    
        width: 350px;
        height: 48px;
    
        background: #EAE6E6;
        border: 1px solid #A28787;
        box-sizing: border-box;
        border-radius: 3px;
    
        margin-bottom: 10px;
        padding-left: 23px;
    }

    span {
        color: rgb(248, 19, 19);
        padding-bottom: 20px;
    }
    
    .acoes {
    
        button {
            margin-right: 34px;
            width: 156px;
            height: 47px;
            border-radius: 6px;
            cursor: pointer;
    
            color: white;
            font-size: 18px;
        }
    
        .btn-cadastrar {
            background: #C85E5E;

            &:disabled {
                background-color: rgb(223, 223, 223);
                color: rgb(112, 112, 110);
            }
        }
    
        .btn-cancelar {
            background: #C4C4C4;
        }
    }
}

@media only screen and (max-device-width: 500px) {
    h3 {
        font-size: 16px;
        line-height: 23px;
    }
    
    input {
        display: block;
    
        width: 250px;
        height: 48px;
    
        background: #EAE6E6;
        border: 1px solid #A28787;
        box-sizing: border-box;
        border-radius: 3px;
    
        margin-bottom: 10px;
        padding-left: 23px;
    }

    span {
        color: rgb(248, 19, 19);
        padding-bottom: 20px;
    }
    
    .acoes {
    
        button {
            margin-right: 10px;
            width: 120px;
            height: 27px;
            border-radius: 6px;
            cursor: pointer;
    
            color: white;
            font-size: 18px;
        }
    
        .btn-cadastrar {
            background: #C85E5E;

            &:disabled {
                background-color: rgb(223, 223, 223);
                color: rgb(112, 112, 110);
            }
        }
    
        .btn-cancelar {
            background: #C4C4C4;
        }
    }
}

@media only screen and (max-device-width: 400px) {
    h3 {
        font-size: 16px;
        line-height: 23px;
    }
    
    input {
        display: block;
    
        width: 200px;
        height: 38px;
    
        background: #EAE6E6;
        border: 1px solid #A28787;
        box-sizing: border-box;
        border-radius: 3px;
    
        margin-bottom: 10px;
        padding-left: 23px;
    }

    span {
        color: rgb(248, 19, 19);
        padding-bottom: 20px;
    }
    
    .acoes {
    
        button {
            margin-right: 10px;
            width: 120px;
            height: 27px;
            border-radius: 6px;
            cursor: pointer;
    
            color: white;
            font-size: 18px;
        }
    
        .btn-cadastrar {
            background: #C85E5E;

            &:disabled {
                background-color: rgb(223, 223, 223);
                color: rgb(112, 112, 110);
            }
        }
    
        .btn-cancelar {
            background: #C4C4C4;
        }
    }
}

