<div class="cadastro">

    <h3>UNIDADES CONSUMIDORAS - {{title}}</h3>

    <form [formGroup]="unidadeForm">
        <input id="" placeholder="Nome" formControlName="nome">
        <input id="" placeholder="Número" formControlName="numero">
        <input id="" placeholder="Distribuidora" formControlName="distribuidora">
        <input id="" placeholder="Endereço" formControlName="endereco">
    </form>

    <div class="acoes">
        <button class="btn-cadastrar" (click)="salvarUnidade()">
            {{button}}
        </button>

        <button class="btn-cancelar" (click)="cancelarCadastro()">
            Cancelar
        </button>
    </div>

</div>
