.principal {
    margin: 0 auto;
    padding: auto;
    display: flex;
    height: 100vh;

    @media only screen and (min-device-width: 1401px) {
        .menu {
            flex-grow: 1;
            width: 15%;
            background-color: #E74B4B;
            transition: all .5s ease-in-out;
        }

        .conteudo {
            flex-grow: 1;
            width: 85%;
            padding-top: 94px;
            padding-left: 31px;
            background-color: #F2F1F1;
            transition: all .5s ease-in-out;
        }
    }
    
    @media only screen and (max-device-width: 1400px) {
        .menu-esconder {
            opacity: 0;
            height: 0;
            transition: all .5s ease-in-out;
        }

        .menu-normal {
            opacity: 1;
            transition: all .5s ease-in-out;
        }

        .conteudo {
            flex-grow: 1;
            width: 100%;
            padding-top: 94px;
            padding-left: 31px;
            background-color: #F2F1F1;
        }

        .menu-btn {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            cursor: pointer;
            transition: all .5s ease-in-out;
          }
          
          .menu-btn__burger {
            width: 50px;
            height: 6px;
            background: #E74B4B;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(122, 122, 122, 0.4);
            transition: all .5s ease-in-out;
          }
          .menu-btn__burger::before,
          .menu-btn__burger::after {
            content: '';
            position: absolute;
            width: 50px;
            height: 6px;
            background: #E74B4B;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(122, 122, 122, 0.4);
            transition: all .5s ease-in-out;
          }
          .menu-btn__burger::before {
            transform: translateY(-16px);
          }
          .menu-btn__burger::after {
            transform: translateY(16px);
          }
          /* ANIMATION */
          .menu-btn.open .menu-btn__burger {
            transform: translateX(-50px);
            background: transparent;
            box-shadow: none;
          }
          .menu-btn.open .menu-btn__burger::before {
            transform: rotate(45deg) translate(35px, -35px);
          }
          .menu-btn.open .menu-btn__burger::after {
            transform: rotate(-45deg) translate(35px, 35px);
          }
    }
}