.principal {
    margin: 0 auto;
    padding: auto;
    display: flex;
    height: 100vh;

    .menu {
        flex-grow: 1;
        width: 15%;
        background-color: #E74B4B;
    }
    
    .conteudo {
        flex-grow: 1;
        width: 85%;
        padding-top: 94px;
        padding-left: 31px;
        background-color: #F2F1F1;
    }
}