.btn {

    .btn-menu {
        position: absolute;
        width: 241px;
        height: 66px;
        left: 29px;
        border-radius: 10px;
        background-color: #FFFFFF;
        cursor: pointer;
    }

    .btn-dashboard {
        top: 124px;
    }

    .btn-un-consumidoras {
        top: 211px;
    }
}